@font-face {
  font-family: "Open Sans";
  src:
    url("fonts/OpenSans-Regular.woff2") format("woff2"),
    url("fonts/OpenSans-Regular.woff") format("woff");
}
@font-face {
  font-family: "Archivo Black";
  src:
    url("fonts/ArchivoBlack-Regular.woff") format("woff"),
    url("fonts/ArchivoBlack-Regular.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Open Sans", sans-serif;
  background-color: #111;
  color: #fff;
  max-width: 1440px;
  margin: 0;
  border-radius: 24px;
  box-shadow: 0 20px 40px rgba(15, 23, 42, 0.12);
  display: flex;
  flex-direction: column;
  gap: 20px;
  /*padding: 32px;*/
}

.header {
  display: grid;
  grid-template-areas:
    "name profile-image"
    "role profile-image"
    "description profile-image"
    "port-nav profile-image";
  align-items: center;
  grid-template-columns: 1fr 300px;
}

.name {
  grid-area: name;
  font-family: "Archivo Black";
  font-size: 72px;
  line-height: 1;
  width: 793px;
  height: 156px;
}

.role {
  grid-area: role;
  max-width: 790px;
  max-height: 25px;
  font-size: 18px;
  color: rgba(147, 146, 146, 0.489);
}

.description {
  grid-area: description;
  max-width: 793px;
  max-height: 150px;
  font-size: 18px;
  line-height: 1;
}

.port-nav {
  grid-area: port-nav;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  color: #fff;
}

.nav_links {
  display: flex;
  gap: 35px;
  list-style: none;
  text-decoration: none;
  align-items: center;
  margin: 0;
  padding: 0;
}

.nav_link-cv {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  max-width: 115px;
  max-height: 25px;
  border-bottom: 3px solid #7c5cff;
  padding-bottom: 6px;
}

.nav_link-github {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  max-width: 138px;
  max-height: 25px;
  border-bottom: 3px solid #7c5cff;
  padding-bottom: 6px;
}

.nav_link-talk {
  text-decoration: none;
  color: #ffffff;
  font-weight: bold;
  max-width: 88px;
  max-height: 25px;
  border-bottom: 3px solid #7c5cff;
  padding-bottom: 6px;
}

.nav_links a:hover {
  opacity: 0.5;
}

.profile-image {
  grid-area: profile-image;
  width: 387px;
  height: 500px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.blur_circle {
  position: absolute;
  width: 520px;
  height: 520px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(90, 71, 255, 0.65) 0%,
    rgba(90, 71, 255, 0.3) 35%,
    rgba(90, 71, 255, 0.12) 55%,
    transparent 80%
  );
  filter: blur(70px);
  z-index: 0;
}

.profile_image {
  position: relative;
  z-index: 1;
  width: 300px;
  border-radius: 2px;
}

.skills-title {
  font-family: "Archivo Black";
  font-size: 40px;
  padding: 80px 120px 50px 0;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(70px, 1fr));
  gap: 180px;
  list-style: none;
  padding-bottom: 100px;
}

.projects_title {
  font-size: 40px;
  font-family: "Archivo Black";
}

.projects-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.project-card {
  display: flex;
  flex-direction: column;
  background-color: #1c1c1c;
  width: calc((100% - 20px) / 2);
  border-radius: 4px;
  overflow: hidden;
  border: 1px solid #1d1d1d;
  /*column-gap: 20px;*/
}

.card_image {
  width: 100%;
  aspect-ratio: 3/2;
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
}

.card_image_coffe {
  background-image: url(/images/WebCafeteria.jpg);

  background-position: center;
  background-size: cover;
}

.card_image_project {
  background-image: url(/images/Proyecto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.card_image-container {
  position: absolute;
  width: 100%;
}

.card-skills {
  position: absolute;
  left: 10px;
  bottom: 50px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  list-style: none;
}

.card-title {
  font-size: 24px;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  gap: 2rem;
}

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 20px;
}

.footer-circle {
  position: absolute;

  width: 600px;
  height: 600px;
  border-radius: 50%;
  background: radial-gradient(
    circle,
    rgba(90, 71, 255, 0.55) 0%,
    rgba(90, 71, 255, 0.25) 40%,
    transparent 75%
  );
  filter: blur(90px);
  z-index: 0;
}

.contact {
  position: relative;
  z-index: 1;
  text-align: center;
}

.footer_title {
  color: white;
  font-family: "Archivo Black";
  font-size: 40px;
  font-weight: normal;
  padding-bottom: 20px;
}

.contact-email {
  color: #6c63ff;
  font-size: 18px;
  max-width: 100%;
  max-height: 25px;
  padding-bottom: 50px;
}

.social-links {
  display: flex;
  justify-content: center;
  gap: 80px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.3s;
  width: 24px;
  height: 24px;
}

.social-link:hover {
  opacity: 0.5;
}

.contact-email:hover {
  opacity: 0.5;
}
